* {
  border-radius: 12px;
  font-family: monospace;
  color: rgb(base05);
  font-size: 12px;
}

window#waybar {
  background: rgba(base00, 0.5);
  border-radius: 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  transition: none;
  color: transparent;
  background: transparent;
}

#network,
#bluetooth,
#battery,
#wireplumber,
#backlight,
#mpd,
#workspaces {
  border: 1px solid rgb(base02);
  background-color: rgba(base05, 0.05);
  transition: none;
  margin-top: 6px;
  margin-bottom: 6px;
}

#workspaces {
  margin-left: 20px;
  border-radius: 6px;
}

#workspaces button {
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: none;
  text-shadow: none;
  font-weight: normal;
}

#workspaces button.active * {
  color: rgb(base0D);
}

#network {
  border-radius: 0px 6px 6px 0px;
  border-left: 0px transparent;
  padding-right: 10px;
  margin-right: 20px;
}

#bluetooth {
  border-radius: 6px 0px 0px 6px;
  border-right: 0px transparent;
  margin-left: 20px;
  padding-right: 20px;
  padding-left: 10px;
}

#battery {
  border-radius: 0px 6px 6px 0px;
  border-left: 0px transparent;
  padding-right: 10px;
  margin-right: 20px;
}

#backlight {
  border-radius: 6px 0px 0px 6px;
  border-right: 0px transparent;
  padding-right: 20px;
  padding-left: 10px;
}

#battery.charging {
  color: rgb(base0B);
}

#wireplumber {
  border-radius: 6px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#clock {
  transition: none;
  border: none;
  background: transparent;
  margin-top: 6px;
  margin-bottom: 6px;
}

#mpd {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  border-radius: 6px;
}

#mpd.stopped {
  opacity: 0;
}
