* {
  border-radius: 1rem;
  font-family: monospace;
  color: rgb(base05);
  font-size: 1rem;
  transition-property: background-color;
  background-color: rgba(base00, 0.9);
}

@keyframes blink_red {
  to {
    background-color: rgb(base08);
    color: rgb(base00);
  }
}

.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock,
#temperature,
#custom-weather,
#mpd,
#backlight,
#bluetooth,
#wireplumber,
#network,
#battery,
#custom-launcher,
#tray {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

/* Bar */
window#waybar {
  background-color: transparent;
}

window > box {
  background-color: transparent;
  margin: 0.3rem;
  margin-bottom: 0;
}

/* Workspaces */
#workspaces:hover {
  background-color: rgb(base0B);
}

#workspaces button {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background: transparent;
}

#workspaces button.focused,
#workspaces button.active * {
  color: rgb(base0D);
}

#workspaces button.hover {
  color: rgb(base06);
}

/* Tooltips */
tooltip {
  background-color: rgb(base00);
}

tooltip label {
  color: rgb(base06);
}

/* Battery */
#battery {
  color: rgb(base0E);
}

#battery.full {
  color: rgb(base0B);
}

#battery.charging {
  color: rgb(base0C);
}

#battery.discharging {
  color: rgb(base09);
}

#battery.critical:not(.charging) {
  color: rgb(base0F);
}

/* MPD */
#mpd.paused {
  color: rgb(base0F);
  font-style: italic;
}

#mpd.stopped {
  color: rgb(base06);
}

#mpd {
  color: rgb(base07);
}

/* Extra */
#custom-launcher {
  color: rgb(base0A);
}

#clock {
  color: rgb(base06);
}

#temperature {
  color: rgb(base09);
}

#backlight {
  color: rgb(base0A);
}

#wireplumber {
  color: rgb(base0E);
}

#network {
  color: rgb(base0F);
}

#network.disconnected {
  color: rgb(base05);
}

#custom-weather {
  color: rgb(base08);
}

#bluetooth {
  color: rgb(base05);
}

#bluetooth.connected {
  color: rgb(base0D);
}
